/*! HTML5 Boilerplate v5.1.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */



@font-face {
    font-family: 'TradeGothicLT-BoldTwo';
    src: url('webfonts/31025A_0_0.eot');
    src: url('webfonts/31025A_0_0.eot?#iefix') format('embedded-opentype'), url('webfonts/31025A_0_0.woff2') format('woff2'), url('webfonts/31025A_0_0.woff') format('woff'), url('webfonts/31025A_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'TradeGothicLTPro';
    src: url('webfonts/31025A_1_0.eot');
    src: url('webfonts/31025A_1_0.eot?#iefix') format('embedded-opentype'), url('webfonts/31025A_1_0.woff2') format('woff2'), url('webfonts/31025A_1_0.woff') format('woff'), url('webfonts/31025A_1_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Publico Banner Web';
    src: url('webfonts/PublicoBanner-Bold-Web.eot');
    src: url('webfonts/PublicoBanner-Bold-Web.eot?#iefix') format('embedded-opentype'), url('webfonts/PublicoBanner-Bold-Web.woff2') format('woff2'), url('webfonts/PublicoBanner-Bold-Web.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}

html {
    font-family: 'TradeGothicLTPro', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2em;
    letter-spacing: 1px;
    color: #fff;
    background: url('../img/2016-BG.png') no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {}

@media only screen and (max-width: 767px) {
    body {}
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   /*  SECTIONS  */
   .section {
    clear: both;
    padding: 0px;
    margin: 0px;
   }

   /*  COLUMN SETUP  */
   .col {
    display: block;
    float:left;
    margin: 0% 0 2% -2%;
   }
   .col:first-child { margin-left: 2%; }

   /*  GROUPING  */
   .group:before,
   .group:after { content:""; display:table; }
   .group:after { clear:both;}
   .group { zoom:1; /* For IE 6/7 */ }

   /*  GRID OF FOUR  */
  .span_4_of_4 {
    width: 100%;
  }
  .span_3_of_4 {
    width: 74.6%;
  }
  .span_2_of_4 {
    width: 49.2%;
  }
  .span_1_of_4 {
    width: 23.8%;
  }


  #clock {
    position: fixed;
    bottom: 25px;
    right: 65px;
    z-index: 4;
    }

  .main-page {
    opacity: 0;
  }

  #intro {
    position: absolute;
    width: 100vw;
  }

  #intro {
      position: absolute;
      width: 100vw;
  }

#info {
    display: none;
    position: fixed;
    width: 35%;
    height: 80%
}

#info p {
    line-height: 1.3em;
}

#clock {
	position: fixed;
	bottom: 25px;
	right: 65px;
	z-index: 4;
	}


#line {
    position: absolute;
    top: 40px;
    left: 0;
    width: 50%;
    height: 110%;
    padding: 0 0 0 13%;
}

img.line {
   margin-top: 5em;
   margin-left: 9em;
   width: 348px;
   -webkit-transition: width 0.5s, -webkit-transform 0.5s;
    transition: width 0.5s, transform 0.5s;
}

img.line:hover {
   width:358px;
   -webkit-transform: width(105%);
   transform: width(105%);
}


h3.line2 {
    margin-top: 8em;
}


img.line2 {
    width:290px;
    -webkit-transition: width 0.5s, -webkit-transform 0.5s;
     transition: width 0.5s, transform 2s;
}

img.line2:hover {
    width: 300px;
    -webkit-transform: width(105%);
    transform: width(105%);
}

#line2 {
    position: absolute;
    top: 40px;
    left: 50%;
    width: 50%;
    height: 110%;
}
#dept {
    position: fixed;
    top:10%;
    left:55%;
    display: none;
}

#list {
    position: absolute;
    margin-left: 70%;
    margin-top:30%;
    width: 100%;
}

#list p {
    z-index: 1000;
    font-family: 'Publico'
}

#list a {
    position: relative;
    z-index: 500;
}

#list a:hover {
    color: #333;
    text-decoration: none;
}

a > p {
    display: none;
}

a:hover > p {
    position: relative;
    display: inline;
    z-index: 50;
}

.work {
    position: relative;
    z-index: 100;
}

.thumb {
    position: absolute;
    z-index: -50;
    display: none;
}

#timelapse {
    position: fixed;
    width: 800px;
    height: 800px;
    z-index: 3;
    top: 0%;
    left: 0%;
    margin: 0 auto;
}

#line {
    padding: 0;
}

    img.line {
        width:130px;
       margin-top: 2em;
       margin-left: 2.5em;
    }

    img.line2 {
        width: 120px;
        margin-left: -10px;
        margin-top: 1em;
    }

    h3.line {
        line-height: 1.4em;
    }

    h3.line2 {
        line-height: 1.4em;
    }
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
  .col {  margin: 1% 0 1% 0%;
    }
  .span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%;
  }

  #info {
      position: absolute !important;
      left: 0;
      clear: both;
  }

  #dept {
      position: absolute !important;
      left: 0;
  }

  #list {
      width: 100%;
      left: 0;
      position: relative;
  }
}

/* ==========================================================================
   Typography
   ========================================================================== */

a,
a:visited,
a:active {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #333;
}

p {
    line-height: 0.9em;
    font-size: 0.8em;
    letter-spacing: 0px;
}

h1 {
    font-family: 'Publico Banner Web';
    font-style: normal;
    font-stretch: normal;
    font-size: 4.5em;
    line-height: 1.0em;
    margin: 5% auto;
}

h2 {
    font-size: 1.2em;
    line-height: 1.2em;
}

h3 {
    text-transform: uppercase;
    font-weight: normal;
    padding-left: 30px;
    line-height: 1.4em;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {}

@media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
    h1 {
        font-size: 3.0em;
        line-height: 1.0em;
    }
    h2 {
        line-height: 1.4em;
    }
    h3 {
        padding-left: 15px;
    }
    img {
        width: 150px;
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
